SolutionCore/.vs/config/applicationhost.config
SolutionCore/SolutionCore/bin/SolutionCore.dll.config
SolutionCore/SolutionCore/Web.config
SolutionCore/.vs/config/applicationhost.config
SolutionCore/.vs/SolutionCore/v14/.suo