@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    @*<h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    <a href="/"><img src="~/Content/images/logo.jpg" alt="SolutionTeam" title="SolutionTeam" style="border: none; width: 150px; border: none;" class="img-responsive" /></a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lorem ipsum </h2>
        <p>
            dolor sit amet, consectetur adipiscing elit. Praesent eleifend pharetra velit, id varius lorem luctus vel. Sed iaculis ipsum nibh, vitae sagittis nulla tempus nec. In nisi ipsum, finibus non aliquet et, convallis id magna. Fusce tincidunt bibendum nulla. Phasellus in turpis quis odio tincidunt efficitur sit amet sit amet nunc. Nam tempus scelerisque libero, non venenatis enim pellentesque vel. Morbi laoreet lacus dolor, vitae molestie elit accumsan ac. Maecenas eu est eu dui elementum semper a eget enim. Curabitur neque neque, vestibulum id sapien eget, aliquet suscipit magna. Quisque imperdiet fermentum felis ac pulvinar. Pellentesque lobortis nunc non placerat suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris id urna ligula. Maecenas consectetur odio vel lacus eleifend vehicula. Praesent malesuada bibendum justo ac malesuada.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    
</div>