
@{
    ViewBag.Title = "Firmaer";
    var companies = (List<SolutionCore.Models.Company>)Model;
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <div>
        <button type="button" class="text" data-toggle="collapse" data-target=".firm1">Solution Team, Fjeldhammervej 17a</button>
        <div id="demo" class="firm1 collapse">
            Meik Børner
        </div>
        <div id="demo" class="firm1 collapse">
            Kim Schalls
        </div>
    </div><div>
        <button type="button" class="text" data-toggle="collapse" data-target=".firm2">Microsoft, Tuborg Blvd</button>
        <div id="demo" class="firm2 collapse">
            Bill Gates
        </div>
        <div id="demo" class="firm2 collapse">
            Hans Nørløv
        </div>
    </div>
</div>

@foreach (var company in Model)
{
    <div>
        <button type="button" class="text" data-toggle="collapse" data-target=".firm">@company.Name, @company.Address</button>
    </div>
}